*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'poppins', sans-serif;
  background-color: white;
}
#health-btn{
  background-color: black;
  color: white;
}
#topbtn > a > #top-btn1{
  background-color: black;
  color: white;
}

.blog-content-container{
  width: 100%;
  margin: 0;
  padding: 20px;
}
.title-div{
  padding: 20px;
  width: fit-content;
  transition: all 0.6s ease-in-out;
}
.title-div > button{
  font-size: 20px;
  padding: 8px 15px;
}

.title-div > ul{
 background-color: aqua;
 padding: 20px;
 position: absolute;
 transition: all 0.6s ease-in-out;
}
.title-div > ul > li{
  list-style: decimal;
  margin: 12px 0;
}
.title-div > ul > li > a{
  text-decoration: none;
  color: black;
}
#fa-folder-open{
  display: none;
}
#ul{
  display: none;
}


/*THE BLOG POST TABLE*/

.content-div{
  width: 100%;
  text-align: center;
}
.post{
  display: inline-block;
  width: 23%;
  margin: 10px;
 box-shadow: 0 0 10px rgb(226, 225, 225);
}
.post img{
  width: 100%;
}
.post h3{
  padding: 10px 0;
 
}
.post > .inner-div{
  width: 100%;
}
.inner-div > p{
  display: inline-block;
  margin: 5px 10px;
  font-size: 14px;
}
.inner-div section{
  display: inline-flex;
}
.inner-div section > p{
  padding: 0 3px;
  font-size: 14px;
}
.inner-div{
  margin-bottom: 15px;
}
.post > .description{
  text-align: left;
  line-height: 1.5;
  padding: 0 5px;
  height: 150px;
  overflow-y: auto;
}
.post button{
  padding: 8px 12px;
  float: left;
  margin-top: 15px;
  background-color: purple;
  color: white;
  border: none;
  transition: 0.3s;
}
.post button:hover{
 opacity: 0.8;
 transition: 0.3s;
}



@media screen and (max-width: 489px) {
  .blog-content-container{
    padding-top: 220px;
  }
}

@media screen and (max-width: 1206px) {
  .post{
    width: 27%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 975px) {
  .post{
    width: 40%;
  }
}
@media screen and (max-width: 671px) {
  .post{
    width: 44%;
  }
}
@media screen and (max-width: 614px) {
  .post{
    display: block;
    width: 90%;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
  }
  .title-div > button{
    margin-top: 0;
  }
}
@media screen and (max-width: 360px) {
  .post{
    width: 98%;
  }
  .title-div > button{
   padding: 5px 10px;
  }
}