*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'poppins', sans-serif;
  background-color: white;
}

.post-content-container{
  width: 100%;
  padding: 25px 0;
}
.post-article-container{
  width: 100%;
  padding: 20px;
  text-align: center;
}
.post-article-container > img{
  width: 100%;
}
.post-article-container h2{
  font-size: 40px;
  margin: 15px 0;
}
.inner-div{
  display: block;
  text-align: center;
}
.inner-div > p{
  display: inline-block;
  margin: 5px 20px;
}
.inner-div > a{
  display: inline-block;
  margin: 5px 20px;
  text-decoration: none;
}
.inner-div > a:hover{
  color: red;
}
.inner-div section{
  display: inline-flex;
}
.inner-div section > p{
  padding: 0 3px;
}

/*THE ARTICLE*/

.article {
  width: 100;
  text-align: left;
  margin-top: 20px;
}
.article > p{
  margin: 10px 0;
  line-height: 1.5;
}
.article > h3{
  margin: 15px 0;
  color: purple;
}
.article > h4{
  margin: 10px 0;
}
.article > li{
  line-height: 1.5;
}
#note{
  color: green;
}
#blue-note{
  color: blue;
}
.inner-images{
  width: 100%;
  padding: 20px;
}
.thumbnails{
  width: 150px;
  float: left;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 4px;
  border: none;
  padding: 5px;
}

/*THIS IS THE COMMENT FORM*/

.comment-form-div{
  width: 100%;
  text-align: center;
  background-color: rgb(118, 95, 201);
  padding: 30px;margin-top: 40px;
}
fieldset{
  border: solid;
  padding: 20px 0;
  padding-top: 30px;
}
fieldset > legend{
  color: white;
  padding: 0 10px;
  font-weight: bold;
}
.comment-form-div form{
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.comment-form-div form > div{
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
form > div > input{
  width: 100%;
  margin: 10px;
  padding: 10px 12px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 7px;
  border: none;
  outline: none;
}
form > div > textarea{
  width: 100%;
  margin: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 14px;
  border: none;
  outline-color: purple;
  font-size: 17px;
  font-family: 'poppins', sans-serif;
  line-height: 1.5;
}
.comment-form-div form button{
  padding: 6px 50px;
  font-weight: bold;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
}
.comment-form-div form button:hover{
  background: none;
  color: black;
  transition: all 0.3s ease-in-out;
}
form .fa-star-of-life{
  color: red;
  font-size: 6px;
  position: absolute;
}



@media screen and (max-width: 489px) {
  .post-content-container{
    padding-top: 200px;
  }
  .inner-images{
    padding: 0;
  }
  fieldset > legend{
    font-size: 12px;
  }
}

@media screen and (max-width: 655px) {
  .post-article-container h2{
    font-size: 25px;
  }
  .inner-div  p{
    font-size: 14px;
  }
  .inner-div > p{
    margin: 5px 10px;
  }
  .inner-div > a{
    margin: 5px 10px;
  }
}


/*THIS IS THE COMMENTERS ENVIRONMENT*/

.commenters-environment-container{
  width: 100%;
  padding: 10px;
  margin-top: 70px;
}
.commenters-environment-container > h2{
  margin-bottom: 20px;
}
.commenters-environment-container > h2::after{
  content: "";
  border: solid 1px;
  display: block;
  width: 100px;
  color: springgreen;
  margin-top: 8px;
}
.environment{
  width: 100%;
  overflow-y: auto;
  padding: 30px;
  text-align: left;
}
.environment > div{
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px silver;
}
.environment > div > p{
  margin: 10px;
  text-align: left;
  font-family: 'poppina', sans-serif;
  line-height: 1.5;
}

.environment > div > p:nth-child(2){
  font-style: italic;
  color: brown;
}
.environment > div > p:nth-child(3){
  font-style: italic;
  color: brown;
}



@media screen and (max-width: 588px) {
  .environment > div{
    width: 100%;
  }
}
@media screen and (max-width: 489px) {
  .commenters-environment-container > h2{
    font-size: 18px;
  }
  .commenters-environment-container > h2::after{
    width: 80px;
  }
}

